// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-size: 62.5%;
//   background-color: lightsalmon;
// }

// .quiz-title {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   background-color: lightskyblue;
//   border: 1rem solid darkblue;
//   border-style: dotted;
// }
// .quiz-pic {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   margin-top: 2rem;
// }

// .quiz-start {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   margin-top: 4rem;
// }

// h1 {
//   font-size: 4rem;
//   font-family: "Oxygen", sans-serif;
// }

// .quiz {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   list-style: none;
// }

// .quiz-score {
//   display: table-row;
//   text-align: center;
//   text-transform: uppercase;
//   font-size: 4rem;
//   color: red;
//   width: 100%;
//   height: 100%;
// }

// // h2 {
// //   font-size: 6rem;
// //   font-family: "Vollkorn", serif;
// // }

// .quiz-questions{
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   list-style: none;

// }

// .btn {
//   border-radius: 2rem;
//   padding: 2rem 5rem;
//   font-size: 3rem;
//   background-color: lightblue;
//   color: black;
//   border: none;
// }

// .btn:hover {
//   background-color: transparent;
//   border: 2px solid lightblue;
//   color: black;
//   background-color: lightblue;
// }
// .answer-btn:hover {
//   background-color: transparent;
//   border: 2px solid lightblue;
//   color: black;
//   background-color: lightblue;
// }

// .answer-btn{
//   border-radius: 2rem;
//   padding: 1rem 5rem;
//   background-color: lightblue;
//   color: black;
//   border: none;
// }

// .quiz-img{
//   height: 40rem;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.quiz-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightskyblue;
  border: 1rem solid darkblue;
  border-style: dotted;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
